
@import 'src/styles/colors';

.paginationContainer {
    display: flex;
    justify-content: center;
}
.pagination {
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
   
    & button:disabled,
    & button[disabled]{
        cursor: not-allowed;
        pointer-events: all !important;
    }  
}

.page{
    color: $headline-color;
}

.active {
    font-weight: 600;
    color: $black-color;
}
.dots {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.prev, .next, .pages {
    cursor: pointer;
    & button {
        background: white;
        }
}
.prev, .next {
    display: flex;
    justify-content: center;
    align-items: center;
    & button svg {
        width: 13px;
    }
}
