@import '/src/styles/colors';
.addNewStationModal {
    & p {
        text-align: center;
        font-size: 18px;
        font-weight: 500;
    }
}
.form {
    display: flex;
    width: 336px;
    flex-direction: column;
}
.addNewStationInput {
}
.InputWrapper {
    position: relative;
}
.textInput {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    font-family: 'Saira', sans-serif;
    padding: 0;
    padding-left: 15px;
    font-size: 14px;
    margin: 0px;
    border: none;
    background: $gray-input-color;
    margin-right: 7px;
    font-weight: 500;
    &:focus {
        outline: 2px solid $base-color;
    }
}
.Label {
    position: absolute;
    left: 15px;
    font-size: 14px;
    top: 50%;
    transform: translateY(-50%);
    color: #a0a0a0;

    &.hide {
        visibility: hidden;
    }
}
.addNewStationModalContent {
  display: flex;
}
.submitInput {
    display: block;
    font-family: 'Saira', sans-serif;
    background: $base-color;
    font-weight: 500;
    height: 40px;
    width: 76px;
    border: none;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 12px;

    &:focus {
        outline: 2px solid $black-color;
    }

}
.errorMessage {
    font-size: 12px;
    height: 20px;
}