$base-color: #FFCD1B;
$black-color: #202020;
$gray-color: #606060;
$background-color: #f5f5f5;
$background-color2: #f9f9f9;
$white-color: #ffffff;
$headline-color: #606060;
$gray-text-color: #a0a0a0;
$gray-input-color: #f0f0f0;
