@font-face {
    font-family: 'Saira';
    src: local('Saira'), url(../fonts/Saira/Saira-ExtraLight.ttf) format('truetype');
    font-weight: 200;
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }
  @font-face {
    font-family: 'Saira';
    src: local('Saira'), url(../fonts/Saira/Saira-Light.ttf) format('truetype');
    font-weight: 300;
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }
@font-face {
    font-family: 'Saira';
    src: local('Saira'), url(../fonts/Saira/Saira-Regular.ttf) format('truetype');
    font-weight: 400;
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }
  @font-face {
    font-family: 'Saira';
    src: local('Saira'), url(../fonts/Saira/Saira-Medium.ttf) format('truetype');
    font-weight: 500;
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }
  @font-face {
    font-family: 'Saira';
    src: local('Saira'), url(../fonts/Saira/Saira-SemiBold.ttf) format('truetype');
    font-weight: 600;
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }
  @font-face {
    font-family: 'Saira';
    src: local('Saira'), url(../fonts/Saira/Saira-Bold.ttf) format('truetype');
    font-weight: 700;
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }