
.paginate {
    display: flex;
    justify-content: center;
    font-size: 12px;
    margin-top: 15px;
    & ul {
        width: 170px;
        padding-left: 0;
        display: flex;
        justify-content: space-between;
    }
}
.activePage {
    font-weight: bold;
}

.liNext, .liPrevious {

    &.disabled a{
        cursor: not-allowed;
        pointer-events: all !important;
    }
    & svg {
        width: 11px;
    }
}

.previous, .next, .pages {
    cursor: pointer;
}
