@import '/src/styles/colors';

.bottomBar {
    background: #f9f9f9;
    display: flex;
    justify-content: end;
    padding: 7px;
  
    & button {
      font-weight: 500;
      padding: 3px 8px;
    }
  
  }

 