@import 'src/styles/colors';

.Layout {
  width: 650px;
  background: $white-color;
  margin: 60px 0;
}

.topBar {
    background: $background-color2;
    // padding: 3px 6px;
    display: flex;
    justify-content: space-between;

    & button {
     
    }
}
.topBarContainer {
  padding: 3px 6px;
}
.topBarHeadline {
  font-size: 10px;
  margin: 0;
  color: $headline-color;
}
.topBarStationsName {
  font-size: 18px;
  margin: 0;
  font-weight: 500;
  padding-left: 12px;
}
.bottomBar {
  background: #f9f9f9;
  display: flex;
  justify-content: end;
  padding: 7px;

  & button {
    font-weight: 500;
    padding: 3px 8px;
  }

}

.content {
}